<h1>Welcome to the Secrets Page!</h1>
<%@secrets.each do |s|%>
	<p><%=s.content%></p>
	<%if s.user_id == session[:user_id]%>
	<form action="/secrets/<%=s.id%>" method="POST">
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" name="delete_secret" value="Delete">
		</form>
	<%end%>
	<h4><%=s.likes.count%> likes</h4>
	<form action="/secrets/<%=s.id%>", method="POST">
		<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<input type="submit" name="like_a_secret" id="Like" value="Like">
	</form>
	<%s.likes.each do |l|%>
		<%if l.user_id == session[:user_id]%>
			<form action="/secrets/likes/<%=l.id%>", method="POST">
				<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" name="like_a_secret" id="Unlike" value="Unlike">
			</form>
		<%end%>
	<%end%>

<%end%>

